<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<system.webServer>
		<security>
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="true" />
                    <add verb="PUT" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                    <add verb="TRACE" allowed="true" />
                    <add verb="CONNECT" allowed="true" />
                    <add verb="PROPFIND" allowed="true" />
                    <add verb="PROPPATCH" allowed="true" />
                    <add verb="MKCOL" allowed="true" />
                    <add verb="COPY" allowed="true" />
                    <add verb="MOVE" allowed="true" />
                    <add verb="LOCK" allowed="true" />
                    <add verb="UNLOCK" allowed="true" />
                    <add verb="VERSION-CONTROL" allowed="true" />
                    <add verb="REPORT" allowed="true" />
                    <add verb="CHECKOUT" allowed="true" />
                    <add verb="CHECKIN" allowed="true" />
                    <add verb="UNCHECKOUT" allowed="true" />
                    <add verb="MKWORKSPACE" allowed="true" />
                    <add verb="UPDATE" allowed="true" />
                    <add verb="LABEL" allowed="true" />
                    <add verb="MERGE" allowed="true" />
                    <add verb="BASELINE-CONTROL" allowed="true" />
                    <add verb="MKACTIVITY" allowed="true" />
                    <add verb="SEARCH" allowed="true" />
                    <add verb="BCOPY" allowed="true" />
                    <add verb="BDELETE" allowed="true" />
                    <add verb="BMOVE" allowed="true" />
                    <add verb="BPROPFIND" allowed="true" />
                    <add verb="BPROPPATCH" allowed="true" />
                    <add verb="NOTIFY" allowed="true" />
                    <add verb="POLL" allowed="true" />
                    <add verb="SUBSCRIBE" allowed="true" />
                    <add verb="UNSUBSCRIBE" allowed="true" />
                    <add verb="X-MS-ENUMATTS" allowed="true" />
                </verbs>
                <fileExtensions>
                    <remove fileExtension=".asa" />
                    <add fileExtension=".asp" allowed="true" />
					<add fileExtension=".php" allowed="true" />
                    <add fileExtension=".html" allowed="true" />
                    <add fileExtension=".htm" allowed="true" />
                    <add fileExtension=".asa" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
		<rewrite>
			<rules>
				<rule name="Server API" stopProcessing="true">
					<match url="^server/(.*)$" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="/server/index.php?q={R:1}" appendQueryString="true" />
				</rule>
				<rule name="Main" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
						<add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php?q={R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
		
		<!-- HTTP Errors section should only be enabled if the "Error Pages"
		feature has been delegated as "Read/Write" at the Web Server level.
		<httpErrors>
		<remove statusCode="404" subStatusCode="-1" />
		<error statusCode="404" prefixLanguageFilePath="" path="/notfound.html" responseMode="ExecuteURL" />
		</httpErrors>
		-->
	
	</system.webServer>
</configuration>