<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>

		<!-- HTTP Errors section should only be enabled if the "Error Pages"
		feature has been delegated as "Read/Write" at the Web Server level.
		<httpErrors>
		<remove statusCode="404" subStatusCode="-1" />
		<error statusCode="404" prefixLanguageFilePath="" path="/notfound.html" responseMode="ExecuteURL" />
		</httpErrors>
		-->
	</system.webServer>
</configuration>